.colorContainer{
  background: black;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.links{
  list-style: none;
  display: flex;
  color: white;
  display: flex;
  flex-direction: column;


}

.text{
  color: red;
  justify-content: center;
  margin-left: 15rem;
  margin-right: 15rem;
}
a{
  color: #fff;
  text-decoration: none;
}
